/* GENERAL */
* {
  box-sizing: border-box;
}
body {
  font-family: Trip SansR, sans-serif;
  font-family: Trip SansM, sans-serif;
}
.container {
  width: 1135px;
  margin: 0 auto;
  padding: 0 5px;
}
a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 54px;
  font-family: Trip SansM, sans-serif;
  margin: 20px 0 10px 0;
  font-weight: bolder;
}

h1 span {
  color: #ff5d5d;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: Trip SansM, sans-serif;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}
/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

header {
  height: 60px;
  position: relative;
}
header img {
  width: 190px;
}

#nav-header {
  display: flex;
  position: static;
  flex-direction: row;
}
header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header a {
  padding: 5px 10px;
  border-radius: 20px;
}
header a:hover {
  background-color: lightgrey;
}
header button {
  background-color: rgb(0, 0, 0);

  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
#nav-mobile {
  display: none;
}
#menu-mobile {
  position: absolute;
  top: 16px;
  left: 13px;
  display: none;
}

.searchbar input {
  width: 400px;
  height: 37px;
  padding: 4px;
  border-radius: 20px;
  border-color: #e0e0e089;
  background-image: url("../icon/magnifying-glass-solid.svg");
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 8px;
}
.connect {
  cursor: pointer;
}

/* ----------------------------------------- */
/* -----------Modal d'inscription----------- */
/* ----------------------------------------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
.modal-content h2 {
  font-family: Trip SansR, sans-serif;
  font-family: Trip SansM, sans-serif;
  text-align: center;
}
.logo-modal {
  width: 20px;
  height: 20px;
}
.logo-modal img {
  position: absolute;
  top: 2%;
  width: 60px;
  height: 60px;
}
/* Styles pour le formulaire */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  width: 200px;
  height: 500px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form label {
  /* align-self: flex-start; */
  margin-bottom: 10px;
}
form input {
  height: 40px;
  width: 70%;
  padding: 12px;
  border-radius: 20px;
  margin-bottom: 5px;
  border-color: rgb(192, 199, 206);
}

input:focus {
  outline: none;
}
input[type="submit"] {
  height: 50px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  font-size: medium;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}

.link-to-login {
  text-align: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ----------------------------- */
/* MAIN */
/* ----------------------------- */

.second-word-title {
  color: black;
  margin-left: 10px;
}
.new-text-firt-part {
  letter-spacing: 0.5px;
}
/* h1 + p {
  font-size: 14px;
} */

/* ----------------------------- */
/*-------- Menu --------*/
/* ----------------------------- */

.menu {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.menu div {
  border: 1px solid black;
  border-radius: 10px;
  width: calc((100% - 50px) / 6);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.imagesBloc {
  height: 430px;
  display: flex;
  gap: 2px;
}

.imagesBloc .col1 {
  height: 100%;
  flex: 1;
  position: relative;
}

.imagesBloc .col2 {
  height: 100%;
  width: 480px;
}

.imagesBloc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.imagesBloc .col1 .traveler-choice {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 15px;
}
.imagesBloc .col2 div {
  width: 100%;
  height: calc(50% - 1px);
}

.imagesBloc .col2 div:first-child {
  margin-bottom: 2px;
}
.texteBloc h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

p {
  line-height: 10px;
}
.breadcrum nav,
.breadcrum p {
  font-size: 12px;
}

.breadcrum {
  margin: 5px 0 20px 0;
  justify-content: space-between;
  display: flex;
}

/* ----------------------------- */
/* Bloc---------------- */
/* ----------------------------- */

.bloc {
  display: flex;
  height: 400px;
}

.bloc .col1 {
  height: 100%;
  width: 650px;
  padding-right: 50px;
}
.bloc .col1 p {
  font-weight: 200;
  font-size: 20px;
  line-height: 20px;
  text-align: justify;
}

.bloc .col2 {
  flex: 1;
}
.bloc .col2 div:first-child {
  background-color: #fe5d5d;
  border-radius: 10px;
  height: 207px;
  padding: 1rem;
}

.bloc .col2 img {
  height: 143px;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

.bloc .col2 p {
  line-height: 19px;
  margin: 15px 0;
}

.bloc .col2 button {
  border: none;
  margin-top: 20px;
  background-color: black;
  border-radius: 25px;
  color: white;
  height: 35px;
  width: 130px;
  text-align: center;
}

.unmissable {
  height: 350px;
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
}

.unmissable > div:first-child {
  height: 100%;
  width: 270px;
}

.unmissable > div:first-child p {
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0;
}

.unmissable > div:first-child a {
  text-decoration: underline;
}

.unmissable .carrousel {
  flex: 1;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;

  scrollbar-width: none; /* Firefox */
}

.unmissable .carrousel::-webkit-scrollbar {
  display: none;
}

.unmissable .carrousel .col {
  margin-bottom: 10px;
  position: relative;
}

.unmissable .col {
  height: 100%;
  gap: 15px;
  width: calc((100% - 30px) / 3);

  flex: 0 0 275px;
}
.col-escape {
  width: 100%;
}
.col > div > h5 {
  font-size: 18px;
  font-weight: 550;
  margin: 5px 0;
}

.col > div > div {
  margin-bottom: 5px;
}

.col .fa-solid {
  font-size: small;
}
.col > div > p {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 5px;
  line-height: 15px;
}

.unmissable .col > div {
  width: 100%;

  /* aspect-ration: 270/200 */
  aspect-ratio: 1.35;
  position: relative;
}

.unmissable .col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.unmissable .svg-icon {
  bottom: 0;
  left: 15px;
  position: absolute;
}

.unmissable .cercle {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.get-away {
  /* height: 188px; */
  display: flex;
  background-color: #faf1ed;
  margin-bottom: 60px;
}

.get-away .col-escape {
  display: flex;
  justify-content: center;
}

.get-away .col-left {
  width: 641px;
}

.col-escape .col-left {
  padding: 0.8rem;
}

.get-away .col-right {
  max-height: 100%;
  width: 491px;
}

.get-away img {
  height: 188px;
  width: 100%;
  object-fit: cover;
}

.show-list-btn {
  width: 8rem;
  height: 3rem;
  background-color: black;
  border-radius: 25px;
  color: white;
  margin-top: 40px;
}

.col-left > div {
  padding-top: 20px;
}

.show-list-btn span {
  font-size: 15px;
}

.col-left > div p {
  padding-top: 10px;
  font-weight: 100;
}

.carrousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.carrousel-btn i {
  font-size: 0.5em;
}

.carrousel-btn.left {
  left: 10px;
}

.carrousel-btn.right {
  right: 10px;
}

/* --------------------------- */
/* ----------footer----------- */
/* --------------------------- */

footer {
  height: 150px;
  background-color: #faf1ed;
  width: ;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  font-weight: bold;
}
/* Tablette */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 5px;
  }
  .container p {
    letter-spacing: 1px;
    line-height: 12px;
    font-size: large;
    margin: 17px 15px;
  }
  .menu div {
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: row;
    aspect-ratio: 4/3;
  }
  .menu span {
    font-size: medium;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 10px;
  }
  h1 {
    padding: 5px;
    /* text-align: center; */
    font-size: 36px;
  }
  .menu div {
    gap: 10px;
    flex: 1 1 calc(33.33% - 10px);
    height: 80px;
  }
  .imagesBloc {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
  .imagesBloc > div {
    height: auto;
  }
  .col1 h2 {
    font-size: larger;
  }
  .unmissable-title {
    margin-top: 30px;
    text-align: center;
  }
  .bloc .col1 {
    width: 100%;
    padding: 5px;
  }
  .bloc .col1 p {
    font-weight: 400;
    text-align: justify;
    font-size: small;
  }
  .col2 {
    width: 100%;
  }
  .bloc {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .unmissable {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
  }
  .unmissable.carrousel {
    flex: none;
    width: 100%;
    gap: 5px;
    display: flex;
    overflow-x: scroll;
  }
  .unmissable > div:first-child {
    width: 100%; /* Prend toute la largeur */
    height: auto; /* Ajuste la hauteur automatiquement */
  }
  .unmissable .col {
    width: 60%;
    flex: none;
  }
  .unmissable.col > div {
    height: auto;
  }
  .get-away .col-escape {
    /* max-width: 768px;
      height: 100%; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .get-away {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* -------------Responsive----------------- */
/* ---------------------------------------- */

@media screen and (max-width: 390px) {
  .menu span {
    font-size: small;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1135px;
    /* padding: 15px; */
  }
  /* .modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  } */
  header img {
    width: 150px;
  }
  /* .menu div {
      flex: 1 1 calc(16.66% - 10px);
    } */
  .bloc .col1 {
    width: 65%;
  }
  .bloc .col2 {
    width: 35%;
  }
  .unmissable {
    /* flex-direction: row; */
  }
}
@media screen and (max-width: 1000px) {
  header {
    height: 90px;
    padding: 10px;
  }
  header img {
    padding: 10px;
  }
  header .container {
    display: flex;
    flex-direction: column;
  }
  header nav {
    align-items: flex-start;
  }
  header nav a {
    padding: 5px;
    border-bottom: 1px solid grey;
    width: 100%;
    border-radius: 0px;
  }

  .searchbar {
    width: 800px;
  }
  .searchbar input {
    width: 100%;
    /* flex: 1 1; */
  }
  #nav-header > a {
    display: none;
  }
  #nav-header > button {
    display: none;
  }
  /* #nav-mobile {
    display: block;
  } */
  #menu-mobile {
    display: block;
  }

  .fa-bars {
    width: 40px;
    height: 40px;
    color: black;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  .menu div {
    /* flex: 1; */
    width: calc((100% - 10px) / 5);
    height: 80px;
    aspect-ratio: 4 / 3;
  }
  #nav-mobile {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.944);
    position: absolute;
    top: 60px; /* Ajustez selon la hauteur de votre header */
    right: 10px;
    z-index: 1;
    /* width: calc(100% - 20px);  */
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }

  /* Afficher le menu lorsque la classe "menu-open" est active */
  #nav-mobile.menu-open {
    display: flex;
  }

  /* Bouton pour le menu mobile */
  #menu-mobile button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .get-away .col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .get-away .col-left h4 {
    margin-left: 10px;
  }
  .get-away .col-left {
    padding: 0 0 7px 0;
  }
  .get-away .col-right img {
    border-radius: 5px;
    margin-bottom: 9px;
  }
  .get-away .col-left p {
    line-height: 26px;
  }
  .unmissable .carrousel .col img {
    border-radius: 9px;
    border: 1px solid black;
  }
  .unmissable .col > div {
    aspect-ratio: 1.75;
  }
}
